<div class="container">
  <h1>Lista de Canciones de Skrillex</h1>

  @if (canciones.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Duración</th>
          <th>Seleccionar</th>
          <th>Eliminar</th>
        </tr>
      </thead>

      <tbody>
        @for (cancion of canciones; track cancion.id) {
          <tr>
            <td>{{ cancion.id }}</td>
            <td>{{ cancion.titulo}}</td>
            <td>{{ cancion.duracion }}</td>
            <td>
              <button type="button" class="btn btn-warning" (click)="seleccionarCancion(cancion)">Seleccionar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="eliminarCancion(cancion.id)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="no-canciones">No hay canciones en la lista</p>
  }

  <div class="col-sm-4">
    <p>
      ID: <input type="text" class="form-control" [(ngModel)]="cancion.id" />
    </p>
    <p>
      Nombre: <input type="text" class="form-control" [(ngModel)]="cancion.titulo" />
    </p>
    <p>
      Duración: <input type="text" class="form-control" [(ngModel)]="cancion.duracion" />
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="agregarCancion()">Agregar</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="modificarCancion()">Modificar</button>
    </p>
  </div>
</div>

<router-outlet></router-outlet>
